.barChart__container {
	height: 600px;
	width: 900px;
	border-radius: 16px;
	box-shadow: -4px 25px 40px -30px rgba(0, 0, 0, 0.4);
	background: #fff;
	.button__container {
		position: fixed;
		top: 24px;
		right: 24px;
		.button {
			margin-top: 24px;
			background: #43adfe;
			padding: 14px 64px;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 1240px) {
	.barChart__container {
		.button__container {
			.button {
				padding: 12px 52px;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}
