@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.createAccount__layout {
	height: 100%;
	width: 100%;
	color: hsl(226, 13%, 42%);
	@include center;
	.layout__container {
		@include center;
		width: 96%;
		height: 92%;
		border-radius: 16px;
		background: hsl(228, 100%, 97%);
		.createAccount__layout--left {
			@include center;
			flex-direction: column;
			height: 100%;
			width: 50%;
			.image__container {
				@include center;
				width: 100%;
				height: 50%;
				img {
					width: 90%;
					user-select: none;
					-webkit-user-drag: none;
				}
			}
			.info {
				width: 38%;
				text-align: center;
				user-select: none;
				.info__title {
					font-size: 24px;
					font-weight: 700;
					opacity: 0.9;
					margin-bottom: 16px;
				}
				.info__para {
					font-size: 15px;
					opacity: 0.6;
					font-weight: 500;
					line-height: 24px;
				}
			}
		}
		.createAccount__layout--right {
			height: 100%;
			width: 50%;
			background: #fff;
			padding: 64px 84px;
			border-radius: 0px 16px 16px 0px;
			.form__container {
				.form__title {
					color: #000;
					font-size: 28px;
					font-weight: 700;
					margin-bottom: 48px;
				}
				form {
					.checkbox__container--wrapper {
						@include center;
						justify-content: flex-start;
						gap: 8px;
						.checkbox__label {
							font-size: 15px;
							color: #000;
							font-weight: 500;
						}
					}
					.phoneNumber__container {
						max-width: 60%;
						position: relative;
						.error {
							position: absolute;
							font-size: 12px;
							font-weight: 500;
							color: #f00;
							bottom: -24px;
							left: 6px;
						}
					}
					.button__container {
						.button {
							margin-top: 24px;
							background: #43adfe;
							padding: 14px 64px;
							font-size: 18px;
							font-weight: 900;
							color: #fff;
							border: none;
							border-radius: 5px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
