@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
$font-stack: "Roboto", serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-stack;
}

body {
	background: #e4e7f1;
	height: 100%;
	width: 100%;
}

.App {
	width: 100vw;
	height: 100vh;
}
